*.Plo
*.la
*.lai
*~
*.o
*.so
*.lo
*/.libs*
*config.h
*.in
*Makefile
*.m4
*core
*.guess
*.log
*.status
*.sub
*.c.h
*ar-lib
*.cache
*.tmp
*configure
*compile
*libtool
*missing
*depcomp
*install-sh
*stamp-h1
*ltmain.sh

schunk/*.c
schunk/autom4te.cache/*
schunk/compile
schunk/configure
schunk/depcomp
schunk/install-sh
schunk/libtool
schunk/ltmain.sh
schunk/missing
schunk/stamp-h1

cal-communication/sns_tmsmt_coms

test/
util/
