*.Plo
*.la
*.lai
*~
*.o
*.so
*.lo
*/.libs*
*config.h
*.in
*Makefile
*.m4
*core
*.guess
*.log
*.status
*.sub
*.c.h
*ar-lib

schunk/*.c
schunk/autom4te.cache/*
schunk/compile
schunk/configure
schunk/depcomp
schunk/install-sh
schunk/libtool
schunk/ltmain.sh
schunk/missing
schunk/stamp-h1
